.progressBar {
    position: fixed;
    width: 20px;
    height: 100%;
    top: 100;
    right: 0;
    z-index: 101;
}

.progressBar .Progress-line {
    background: rgb(127, 57, 218);
    z-index: 103;
}