.service-section{
    padding: 100px 0;
    background: #333;
}
.what-is h2{
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #FFF;
    text-transform: capitalize;
}
.what-is .separator{
    width: 55px;
    height: 2px;
    background-color: #D95435;
    margin: 20px auto 60px;
}
.workout{
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #474747;
    margin-bottom: 35px;
    transition: all 0.3s ease-in-out;
}
.workout i{
    float: left;
    margin-right: 50px;
    font-size: 30px;
    color: #fd562a;
    width: 96px;
    height: 96px;
    line-height: 96px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.workout .workit{
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.workout .workit h2{
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.workout .workit p{
    font-size: 16px;
    font-weight: 500;
    color: #b0aac0;
    line-height: 1.8em;
    transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
}
.workout:hover{
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease-in-out;
}
.workout:hover i{
    color: #FFF;
    background-color: #fd562a;
    transition: all 0.3s ease-in-out;
}
.workout:hover .workit h2{
    color: #222;
    transition: all 0.3s ease-in-out;
}
.workout:hover .workit p{
    color: #615978;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 320px) and (max-width: 576px){

    .service-section { 
        padding: 80px 20px 0px;
    }
    .what-is .separator { 
        margin: 20px auto 50px;
    }
    .workout { 
        padding: 30px;
    }
    .workout i { 
        float: inherit; 
        margin: 0 auto 22px; 
        display: block; 
        width: 86px; 
        height: 86px; 
        line-height: 86px; 
        font-size: 26px;
    }
    .workout .workit h2 { 
        text-align: center;
    }
    .workout .workit p { 
        text-align: center;
    }

}


