.project-details{
    margin-bottom: 30px;
 }
 .image-div{
     position: relative;
     overflow: hidden;
     z-index: 10;
 }
 .image-div .view-details{
     position: absolute;
     top: 50%;
     left: 50%;
     width: 50px;
     height: 50px;
     font-size: 22px;
     background: #ffffffad;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50px;
     cursor: pointer;
     z-index: 3;
     transform: scale(2) translate(-50%,-50%);
     opacity: 0;
     visibility: hidden;
     transition: all 0.3s ease-in-out;
 }
 .project-details:hover .image-div .view-details{
     transform: scale(1.0) translate(-50%, -50%);
     opacity: 1;
     visibility: visible;
 }
 
 .image-div::before{
     position: absolute;
     content: "";
     top: -50%;
     left: 0;
     width: 100%;
     height: 50%;
     z-index: 1;
     background: rgba(0,0,0,0.7);
     transition: all 0.3s ease-in-out;
 }
 .image-div::after{
     position: absolute;
     content: "";
     bottom: -50%;
     left: 0;
     width: 100%;
     height: 50%;
     z-index: 1;
     background: rgba(0,0,0,0.7);
     transition: all 0.3s ease-in-out;
 }
 .project-details:hover .image-div::before{
     top: 0;
 }
 .project-details:hover .image-div::after{
     bottom: 0;
 }
 .image-div img{
     width: 100%;
     height: 200px;
     transition: all 0.3s ease-in-out
 }
 .project-details:hover .image-div img{
     transform: scale(1.2) rotate(-10deg);
 }
 .project-details label {
     font-weight: 600;
     font-size: 22px;
     line-height: 35px;
     cursor: pointer;
     color: #222;
     margin-top: 16px;
 }
 .linebar{
     width: 50px;
     height: 3px;
     background: var(--red);
     margin-top: 10px;
     transition: all 0.4s ease-in-out;
 }
 .project-details:hover .linebar{
     width: 200px;
 }