.portfoliotitle {
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 40px;
}

.separator-2 {
    width: 55px;
    height: 2px;
    background-color: #D95435;
    margin: 20px auto 40px;
}

.card {
    margin: auto;
}

.card:hover .backgroundImg1 {
    background-position: bottom;
}

.card:hover .backgroundImg2 {
    background-position: bottom;
}

.card:hover .backgroundImg3 {
    background-position: bottom;
}

.backgroundImg1 {
    background: url(../assets/3.png);
    height: 500px;
    background-size: cover;
    background-color: rgb(187, 132, 238);
    transition: ease-in-out 3s;
}

.backgroundImg2 {
    background: url(../assets/2.png);
    height: 500px;
    background-size: cover;
    background-color: rgb(187, 132, 238);
    transition: ease-in-out 3s;
}

.backgroundImg3 {
    background: url(../assets/1.png);
    height: 500px;
    background-size: cover;
    background-color: rgb(187, 132, 238);
    transition: ease-in-out 3s;
}

.iconStyle {
    font-size: 25px;
    margin-right: 8px;
}


.projectCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}








@media (min-width: 320px) and (max-width: 576px) {
    .projectCard {

        grid-template-columns: 1fr;
    }

    .card {
        margin-bottom: 15px;
    }
}