.Design_Info{
    padding: 150px 0 80px ;
  }
  .containers{
    max-width: 1140px;
    margin: auto;
  }
  .details-style img{
      display: block;
      margin: 0 auto 36px;
      width: 100px;
  }
  .details-style h3{
      text-align: center;
      font-size: 25px;
      margin-bottom: 28px;
  }
  .details-style p{
      text-align: center;
      line-height: 30px;
      font-size: 17px;
  }


  @media (min-width: 320px) and (max-width: 576px){

    .Design_Info {
        padding: 90px 20px 0px;
    }
    .details-style { 
        margin-bottom: 60px;
    }
    .details-style img { 
        margin: 0 auto 28px;
    }
    .details-style h3 { 
        margin-bottom: 20px;
    }

  }




