.flexsection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.abouttitle {
    margin-top: 70px;
}

.imgSection {
    height: 500px;
}

.imgSection img {
    height: 600px;
    margin: 0;
    padding: 0;
}


@media (min-width: 320px) and (max-width: 576px) {
    .flexsection {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .imgSection {
        height: 350px;
    }

    .imgSection img {
        height: 300px;
    }
}