body {
  font-family: 'Saira', sans-serif;
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 400;
  background-color: #fff;
  color: #6f6b80;
}

:root {
  --red: #f75023;
  --green: #8067f0;
  --sky-blue: #8067f0;
  --blue: #6244c5;
  --black: #000;
  --pi: #6f6b80;
  --white: #FFF;
}

h1,
h3 {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  color: #000
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 36px;
  font-family: 'Saira', sans-serif;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
  font-family: 'Saira', sans-serif;
}

h5 {
  font-size: 20px;
  font-family: 'Saira', sans-serif;
}

h6 {
  font-size: 16px;
  font-family: 'Saira', sans-serif;
}

span {
  color: var(--red);
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #6f6b80;
}

a {
  text-decoration: none;
}

*::selection {
  color: #FFF;
  background-color: blue;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #d5d5d5;
}