.portfolio-section{
    padding: 90px 0;
    background: #FFF;
}
.portfolio-section h2{
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #202020;
    text-transform: capitalize;
}
.portfolio-section .separator-4{
    width: 55px;
    height: 2px;
    background-color: #D95435;
    margin: 20px auto 60px;
}

.all-tab-section{
    margin-bottom: 70px;
}
.all-tab-section ul{
   padding: 0;
   margin: 0;
   text-align: center;
}
.all-tab-section ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   cursor: pointer;
   color: #141414;
   font-weight: 500;
   transition: all 0.3s ease-in-out;
}
.all-tab-section ul li.actives{
    color: #D95435;
}

.modals{
    padding: 70px 0;
    position: fixed;
    top: 0;
    left: -110%;
    background: #FFF;
    overflow-y: auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    z-index: 200;
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
}
.modals.activeness{
    left: 0;
}
.modals .containers{
    max-width: 1100px;
    margin: auto;
}
.modals .containers h2{
    font-size: 32px;
    color: #222;
    font-weight: 600;
}
.modal-details{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.modal-images-div{
    width: 65%;
}
.modal-images-div .img-size{
   width: 100%;
}
.project-description {
    width: 35%;
    display: block;
    position: relative;
    padding: 20px 25px 25px;
    background-color: #fcfcfc;
}
.block-title {
    display: inline-block;
    position: relative;
    padding-right: 12px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.block-title h3 {
    position: relative;
    font-size: 21px;
    margin-bottom: 15px;
    z-index: 1;
}
.block-title:after {
    position: absolute;
    opacity: .45;
    top: 10px;
    right: 0;
    content: '';
    height: 20px;
    width: 30px;
    background-image: -webkit-repeating-radial-gradient(center center,#04b4e0,#04b4e0 1px,transparent 0px,transparent 100%);
    background-size: 6px 6px;
    z-index: 0;
}
.project-general-info{
    padding: 0;
    margin: 0 0 45px;
}
.project-general-info li {
    list-style: none;
    margin: 0 0 10px;
    font-size: 16px;
}
.project-general-info .fa {
    font-size: 16px;
    color: #04b4e0;
    margin-right: 12px;
}
.project-general-info .link {
    color: #04b4e0;
}
.tech-list{
    padding: 0;
    margin: 0;
}
.tech-list li{
    list-style: none;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 500;
    color: #666;
    padding: 2px 7px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin: 3px 2px 2px;
}

.Cross-icon{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


@media (min-width: 320px) and (max-width: 576px){
    .portfolio-section{
        padding: 45px 20px 50px;
        background: #FFF;
    }
    .all-tab-section ul li {
        font-size: 16px;
        list-style: none;
        margin: 10px 20px;
        font-weight: 600;
    }
    .modals {
        padding: 120px 20px 70px;
    }
    .modal-details {
        flex-direction: column;
    }
    .modal-images-div {
        width: 100%;
    }
    .project-description {
        width: 100%;
    }
    .Cross-icon {
        top: 8%;
        right: 8%;
        font-size: 28px;
    }
}